<h1 class="text-center mt-5">Poutine Podium</h1>
<p class="text-center">Le site où l'on critique sa poutine.</p>

<h2 class="text-center mb-3 mt-5">Les meilleurs poutines</h2>

<div class="tier-card">
  <div class="tier-card-rank">
    #1
  </div>
  <div class="tier-card-restaurant">
    Ma poule mouillée
  </div>
  <div class="tier-card-city">
    Montréal
  </div>
  <div class="tier-card-rating">
    97%
  </div>
  <div class="tier-card-image">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Food_at_WIkimanian_2017_02.jpg/1200px-Food_at_WIkimanian_2017_02.jpg" alt="">
  </div>
</div>

<div class="tier-card">
  <div class="tier-card-rank">
    #2
  </div>
  <div class="tier-card-restaurant">
    Chez Claudette
  </div>
  <div class="tier-card-city">
    Laval
  </div>
  <div class="tier-card-rating">
    93%
  </div>
  <div class="tier-card-image">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Food_at_WIkimanian_2017_02.jpg/1200px-Food_at_WIkimanian_2017_02.jpg" alt="">
  </div>
</div>

<div class="tier-card">
  <div class="tier-card-rank">
    #3
  </div>
  <div class="tier-card-restaurant">
    St-Hubert
  </div>
  <div class="tier-card-city">
    Montréal
  </div>
  <div class="tier-card-rating">
    91%
  </div>
  <div class="tier-card-image">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Food_at_WIkimanian_2017_02.jpg/1200px-Food_at_WIkimanian_2017_02.jpg" alt="">
  </div>
</div>
