
<h1 class="text-center my-4">Nouveau restaurant</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <%= render partial: '/restaurants/form' %>
    </div>
  </div>
</div>
