.main-banner {
  padding: 80px;
  background: linear-gradient(-10deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.4)), url('https://www.seriouseats.com/images/2015/03/20150327-poutine-joshua-bousel.jpg');
  background-size: cover;
  margin: 0 auto;
  h1 {
    font-size: 48px;
  }
  p {
    font-size: 20px;
  }
}
