.btn-main-action {
  background-color: rgba(95, 67, 198, 1.00);
  color: white;
  margin: 6px;
  &:hover {
    color: white;
    background-color: #4938ab;
  }
  &:visited {
    color: white;
  }
}

.btn-secondary-action {
  color: rgba(95, 67, 198, 1.00);
  background: rgba(255, 255, 255, 0.9);
  margin: 6px;
  &:hover {
    color: #4938ab;
    background: rgba(255, 255, 255, 0.95);
  }
  &:visited {
    color: #4938ab;
  }
}

@media (max-width: 580px) {
  .btn-main-action {
    width: 220px;
  }
}

.form-new-restaurant, .form-new-review {
  .form-check {
    display: inline-block;
    padding: 0;
    margin: 0;

    input {
      display: none;
    }

    label {
      background-color: rgba(110, 70, 150, 0.09);
      cursor: pointer;
      color: rgba(0, 0, 0, 0.5);
      padding: 8px 16px;
      border-radius: 2px;
      margin-right: 8px;
      margin-bottom: 8px;
      transition: 0.15s;
      user-select: none;
      &:hover {
        background-color: rgba(110, 70, 150, 0.3);
      }
    }

    input:checked + label {
      background-color: rgba(110, 70, 150, 1);
      color: white;
    }
  }
}

.btn-vote {

}

