.table-podium {
  max-width: 720px;
  margin: 0 auto;

  .table-podium-header {
    background-color: rgba(0, 0, 0, 0.05);
    transition: 0.1s background-color;
    td {
      vertical-align: baseline;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.09);
    }
  }

 .table-podium-body td {
    padding: 0.5rem;
  }

  .img-circle {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
  }
}
