.table-podium {
  max-width: 1024px;
  color: rgb(30, 30, 30);
  margin: 0 auto;
  .table-podium-header {
    font-family: 'Chelsea Market', cursive;
    background-color: rgba(0, 0, 0, 0.05);
    transition: 0.1s background-color;
    cursor: pointer;
    td {
      vertical-align: baseline;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.09);
    }
  }

 .table-podium-body td {
    padding: 0.5rem;
  }
}

@media (min-width: $SM) {
  .table-podium-header {
    font-size: 18px;
  }
}

@media (min-width: $MD) {

}

@media (min-width: $LG) {

}

@media (min-width: $XL) {
  .table-podium-header {
    font-size: 20px;
  }
}
