.img-circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.review_fries_rating > * {
  // display: inline !important;

}

.review_fries_rating, .review_cheese_rating, .review_sauce_rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  margin-top: -8px;
  width: 240px;
  > * {
    padding: 4px;
    margin: 0 4px;
  }
  label:before {
    content: "\2022\00A0"
  }
}

.review_poutine_category {
  label:before {
    content: "Poutine\00A0"
  }
}

.br-theme-bars-1to10 .br-widget a {
  width: 24px;
  height: 50px;
}

.global-rating {
  background-color: rgba(190, 110, 100, 1.00);
  padding: 4px 8px;
  border-radius: 8px;
  margin-right: 8px;
  color: white;
  font-weight: bold;
}

.misc-ratings {
  color: rgb(175, 175, 175);
  margin-bottom: 16px;
  span {
    display: inline-block;
  }
}

.form-review-upvotes label {
  display: none;
}

.container {
  max-width: 1320px;
}

.complete{
  display:none;
}

.more{
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  font-weight: bold;
  padding: 3px 6px;
  cursor:pointer;
}


