$SM: 576px;
$MD: 768px;
$LG: 992px;
$XL: 1200px;


body {
  p {
    font-size: 14px;
  }
}

@media (min-width: $SM) {
  body {
    p {
      font-size: 16px;
    }
  }
}

@media (min-width: $MD) {
  body {

  }
}

@media (min-width: $LG) {
  body {

  }
}

@media (min-width: $XL) {
  body {
    p {
      font-size: 17px;
    }
  }
}
